# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries for data science
- List some open source development envitonments
- List some examples of common arithmetic operations

__Some of the popular languages that Data Scientists use are:__

1. python
2. R
3. Julia

**Some of the commonly used libraries used by Data Scientists include:**

1. NumPy
2. Pandas
3. matplotlib

|Data Science Tools|
|------------------|
|R Studio|
|Jypyter Lab|
|Spyder|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nelson Torres